@font-face {
   font-family: "font1"; 
   src: url("../fonts/20011.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
} 
@font-face {
   font-family: "font2"; 
   src: url("../fonts/20136.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
} 
@font-face {
   font-family: "font3"; 
   src: url("../fonts/20138.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
} 
@font-face {
   font-family: "font4"; 
   src: url("../fonts/20421.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
} 
@font-face {
   font-family: "font5"; 
   src: url("../fonts/17923.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
} 
@font-face {
   font-family: "font6"; 
   src: url("../fonts/17891.otf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
} 
@font-face {
   font-family: "font7"; 
   src: url("../fonts/17734.otf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
} 
@font-face {
   font-family: "font8"; 
   src: url("../fonts/15352.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
} 
@font-face {
   font-family: "roboto"; 
   src: url("../fonts/Robotoblack.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}
@font-face {
   font-family: "tesla"; 
   src: url("../fonts/TESLA.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}


body{
   background-color: rgb(241, 240, 240);
   margin: 0;
}

.quiz {
   margin: 50px auto;
   width: 700px;
}

ul{
   list-style-type: none;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 0px;
}

.quiz-questions {

}
.quiz-questions-item {

}
.quiz-questions-item_question {
   font-size: 22px;
   font-family: "font1";
   margin: 20px 0px 20px 0px;
}
.quiz-questions-item_answers {
   width: 700px;
   font-size: 18px;
   margin: 0px 0px 20px 0px;
}
.quiz-indicator {
   font-family: "font1";
   margin: 0px 0px 20px 0px;
}


.quiz-results {
   display: none;
}
.quiz-results-item {

}
.quiz-results-item_question {
   margin: 20px 0px 20px 0px;
}
.quiz-results-item_answers {
   margin: 0px 0px 20px 0px;
}

.quiz-validQuestions{
   display: none;
   margin: 0px 0px 20px 0px;
}

.quiz-controls {
   margin: 0px 0px 30px 0px;
}

.btn-next {
   cursor: pointer;
   background-color: grey; 
   border: none;
   color: white;
   padding: 5px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

.btn-restart {
   cursor: pointer;
   background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





.questions--hidden,
.indicator--hidden,
.btn-next--hidden{
   display: none;
}

.results--visible,
.btn-restart--visible{
   display: block;
}

.validQuestions--visible{
   display: block;
}
.validQuestions--hidden{
   display: none;
}

.answer--valid{
   color: green;
   font-weight: bolder;
}

.answer--invalid{
   color: red;
   font-weight: bold;
}




@media (max-width: 800px) {

   .quiz {
      margin: 50px auto;
      width: 500px;
   }

   .quiz-questions-item_question {
      font-size: 18px;
      font-family: "font1";
      margin: 20px 0px 20px 0px;
   }

   .quiz-questions-item_answers {
      width: 530px;
      font-size: 15px;
      margin: 0px 0px 20px 0px;
   }

   .btn-next {
      cursor: pointer;
      background-color: grey; 
      border: none;
      color: white;
      padding: 5px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 11px;
   }
   
   .btn-restart {
      cursor: pointer;
      background-color: #4CAF50; 
       border: none;
       color: white;
       padding: 5px 20px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 11px;
   }
}

@media (max-width: 600px) {
   .quiz {
      margin: 10px auto;
      width: 300px;
   }

   .quiz-questions-item_question {
      font-size: 15px;
      font-family: "font1";
      margin: 20px 0px 20px 0px;
   }

   .quiz-questions-item_answers {
      width: 330px;
      font-size: 13px;
      margin: 0px 0px 20px 0px;
   }

   .btn-next {
      cursor: pointer;
      background-color: grey; 
      border: none;
      color: white;
      padding: 5px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 9px;
   }
   
   .btn-restart {
      cursor: pointer;
      background-color: #4CAF50; 
       border: none;
       color: white;
       padding: 5px 20px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 9px;
   }

   .quiz-indicator {
      font-size: 12px;
      font-family: "font1";
      margin: 0px 0px 20px 0px;
  }
}